/OlaMundoJavaFX/nbproject/private/
/OlaMundoJavaFX/build/
/OlaMundoJavaFX/dist/
/RelogioSwing/nbproject/private/
/RelogioSwingg/nbproject/private/
/RelogioSwing1/nbproject/private/
/RelogioSwing2/nbproject/private/
/JavaApplication3/nbproject/private/
/JavaApplication3/build/
/JavaFXApplication5/nbproject/private/
/JavaFXApplication6/nbproject/private/
/JavaFXApplication5/build/
/RelogioSwing1/build/
/ResolucaoSwing/nbproject/private/
/ResolucaoSwing/build/
/Teste/nbproject/private/
/TelaResolucao/nbproject/private/
/TelaResolucao/dist/
/TelaResolucao/build/
/IdiomaSwing/nbproject/private/
/IdiomaSwing/build/
/Tiposprimitivos/target/
/Calculadora/nbproject/private/
/Calculadora/dist/
/Calculadora/build/
/Jokenpo/target/
/Adivinhe/target/
/Calculadora1/nbproject/private/
/Calculadora1/build/
/Calculadora1/dist/
/blabla/target/
/JokenpoSwing/nbproject/private/
/JokenpoSwing/build/
/Exercicio13/nbproject/private/
/Exercicio13/build/
/Vetor01/target/
/Vetor02/target/
